# ---- Copernicus Marine (GLOBAL_MULTIYEAR_PHY_001_030) ----
# Register free at https://data.marine.copernicus.eu
CMEMS_USERNAME=raikarketan562@gmail.com
CMEMS_PASSWORD=Sihltce@comps01
CMEMS_DATASET_ID=cmems_mod_glo_phy_my_0.083deg_P1D-m

# ---- INCOIS (paste OPeNDAP URLs from https://las.incois.gov.in/thredds/catalog.html) ----
INCOIS_OPENDAP_URLS={}

# ---- Argo ----
ARGO_BACKEND=erddap         # "ftp" or "erddap"
ARGO_BBOX=[50,110,-35,30] # lon_min,lon_max,lat_min,lat_max (Indian Ocean default)

# ---- Server ----
DEFAULT_STRIDE=2
REFRESH_HOURS=6